
li {
 display: inline;
}

.topleftmenu {
	text-align: left;
	
}

.toprightmenu {
	text-align: right;
}


.GoogleLogo {
	padding-top: 200px;
	text-align: center;

}

.SearchForm {
	
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;


}

.Buttons {
	text-align: center;
}